@import "tailwindcss";

@theme {
  --color-primary: #749ab6;
  --color-secondary: #fcb814;
  --color-light-blue: #c5d7e5;
  --color-yellow: #fcb814;
  --color-bg-gray: #f0f2f5;
  --color-text-main: #111827;
  --color-text-muted: #6b7280;
  --font-sans: "Inter", sans-serif;
}